<a href="https://colab.research.google.com/github/VaughnnIvan/DATA-VISUALIZATION-ACTIVITIES-AND-EXAM-/blob/main/FINAL_EXAM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('titanic.csv')

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
survived = df['Survived'].mean() * 100
print(f"2. Percentage of people who survived: {survived}%")

2. Percentage of people who survived: 38.38383838383838%

In [ ]:
survibysex = df[df['Survived']==1]['Sex'].value_counts()
print("3. Number of survivors by sex:")
print(survibysex)

3. Number of survivors by sex:
female    233
male      109
Name: Sex, dtype: int64

In [ ]:
survi = (df[df['Fare']< 10]['Survived'].mean()) * 100
print(f"4. Percentage of passengers who paid less than 10 dollars and survived: {survi}%")

4. Percentage of passengers who paid less than 10 dollars and survived: 19.940476190476193%

In [ ]:
avgded = df[df['Survived'] == 0]['Age'].mean()
print(f"5. The average age of those who didn't survive is: {avgded}")

5. The average age of those who didn't survive is: 30.62617924528302

In [ ]:
avgalv = df[df['Survived'] == 1]['Age'].mean()
print(f"6. The average age of those who survived is: {avgalv}")

6. The average age of those who survived is: 28.343689655172415

In [ ]:
avgsex = df.groupby(['Survived','Sex'])['Age'].mean()
print(f"7. The average age of those who did and didn't survive grouped by sex is:")
print(avgsex)

7. The average age of those who did and didn't survive grouped by sex is:
Survived  Sex
0         female    25.046875
          male      31.618056
1         female    28.847716
          male      27.276022
Name: Age, dtype: float64